.paginated-certificates {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.certificates-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 15px;
  margin: 20px 0 15px;
  padding-left: 40px;
  padding-right: 40px;
  justify-items: center;
}

.certificate-link {
  text-decoration: none;
  color: black;
}

.no-certification {
  grid-area: 1 / 1 / 3 / 4;
  font-family: "Source Sans Pro";
  font-size: 20px;
  margin-top: 100px;
}

@media screen and (max-width: 1175px) {
  .certificates-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (max-width: 830px) {
  .certificates-list {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
  }
}
