.main-container-details {
  background-color: #f5f5f5;
}

.back-container-details {
  display: flex;
  align-items: center;
  padding: 22px 42px;
}

.button-back-details {
  cursor: pointer;
}

.certificate-details-title {
  padding-left: 15px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
}

.break-line {
  margin: 0 42px;
}

.loading-points {
  min-width: 90vw;
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
